html{
  margin: 0;
  font-size: 2vh;

}

body{
  margin: 0; 
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(143, 35, 35);
  display: flex;
  justify-content: center;
  align-items: center;
}


#quote-box{
  margin: 0 auto;
  padding: 2em;
  background-color: whitesmoke;
  min-height: 150px;
  height: auto;
  width: 40em;
  text-align: center;
  border-radius: 5px;
}

@media(max-width:770px){
  #quote-box{
    width:60%
  }
}

@media(max-width:450px){
  #quote-box{
    padding: 1.5em;
    width:80%
  }
}

#quote{
  display: table-cell;
  vertical-align: middle;
  margin: auto;
  min-height: 100px;
  
}

h2{
  margin: .5em;
  font-size: 1.5rem;
}


#author{
  font-weight: 600;
  margin: 1em auto;
  text-align: right;
  font-size: 1.1em;
}

#link-container{
  display: flex;
  justify-content: space-between;
}



#twitter{
  font-size: 2.5em;
  color: rgb(143, 35, 35);
  scale: 100%;
  transition: scale .5s;
}

#twitter:hover{
  scale: 105%;
  cursor: pointer;
}

#new-quote{

  border: none;
  border-radius: 5px;
  font-size: .9em;
  padding: .8em;
  scale: 100%;
  background-color: rgb(143, 35, 35);
  color: whitesmoke;
  transition: scale .5s;

}

#new-quote:hover{
  scale: 105%;
  cursor: pointer;
  
}